body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100vh;
    font-size: 16px;
  }

.layout {
    display: flex;
    border: 3px solid blue;
    height: 100%;
    
  }

  .header {
    display: flex;
    background: rgba(0,0,0,0.5);
  }

  .left {
    background-image: url("./images/dumbbells.jpg");
    background-size: cover;
  }

  .left {
    border: 1px solid red;
  }

  .right {
    border: 1px solid red;
  }
